@tailwind base;
@tailwind components;
@tailwind utilities;




nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.nav-height {
    height: 100px; }

  .nav-link {
    color: #F1E4B2;

    font-family: "AvertaStd-Light";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  #mobile-menu {
    background-color: rgba(0, 0, 0, 0.90);
  }

  .nav-link:hover {
    color: #F1E4B2;

   font-family: "AvertaStd-Bold";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  #mobile-menu .nav-link {
    display: block; 
    color: #F1E4B2;
    text-decoration: none;
    font-family: "AvertaStd-Light";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 20px;
  
  }

  #mobile-menu .nav-link:hover{
    color: #F1E4B2;

    font-family: "Averta ExtraBold";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
  }
 
  #mobile-menu .social-icons a {
    display: inline-block; /* Muestra los íconos de redes sociales en línea */
    margin: 0 10px; /* Espacio horizontal entre íconos */
    /* Agrega más estilos según sea necesario */
  }
 
   
  .caricon{
    color: #020101;

font-family: "AvertaStd-Light";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }

  .bg-f1e4b2 {
    background-color: #F1E4B2;
    border-radius: 50px;
  }
  .hover\:border-f1e4b2:hover {
    border-color: #F1E4B2;
    border-radius: 14px;
  }

  .swiper-pagination-bullet {
    Width:188px;
    Height: 5px; 
    background:#181818; 
    opacity: 1; 
    border-radius: 0;  
  }
  .swiper-pagination-bullet-active {
    background: #EEE0B3 
  }


  .custom-phrase-class {
    font-family: "AvertaStd-Bold";
    color:#EEE0B3; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .link-phrase-class
  { font-family: "AvertaStd-Light";
    color:#EEE0B3;
    text-transform: none;
    font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  .link-phrase-class:hover {
    font-weight: bold;
    color:#EEE0B3;
  }

.title-ofertas{
  font-family: "AvertaStd-Bold";
    color:#EEE0B3;
    font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.subtitle-ofertas {
  color: #EEE0B3;

font-family:"AvertaStd-Light";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.agregar-btn {
  border-radius: 2px;
background: #EEE0B3;
color: #020101;

font-family: "AvertaStd-Bold";
font-size: 16px;
font-style: normal;
font-weight: bold;
line-height: normal;
width: 180px;
height: 38px;
flex-shrink: 0;
}
.agregar-btn:hover {
  background: #D1C1A1; /* Cambia el color de fondo al hacer hover */
  color: #fff; /* Cambia el color del texto al hacer hover */
  cursor: pointer; /* Cambia el cursor a un puntero para indicar que es un botón */
}
.product-n {
  color: #EEE0B3;

font-family: "AvertaStd-Bold";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.product-description {
  color: #EEE0B3;
font-family: "AvertaStd-Light";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-right: 100px;
}

.product-price {
  color: #E8AB35;

font-family:"AvertaStd-Bold";
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.product-previous-price {
  color: #EEE0B3;
  position: relative;
font-family: "AvertaStd-Light";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 10px;}
.product-previous-price::after{
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  border-top: 2px solid #E8AB35; 
  transform: translateY(-50%);
}


.agregar-boton {
  border-radius: 2px;
background: #EEE0B3;
color: #020101;

font-family: "AvertaStd-Bold";
font-size: 16px;
font-style: normal;
font-weight: bold;
line-height: normal;
width: 180px;
height: 38px;
flex-shrink: 0;
}
.agregar-boton:hover {
  background: #D1C1A1; 
  cursor: pointer; 
}
.product-n1 {
  color: #EEE0B3;

font-family: "AvertaStd-Bold";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 45px;
}

.product-description1 {
  color: #EEE0B3;

font-family: "AvertaStd-Light";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 45px;
}

.product-price1 {
  color: #E8AB35;

font-family:"AvertaStd-Bold";
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
}






.title-carrito {
  color: #EEE0B3;

font-family:"AvertaStd-Bold";
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.billy {
  color: #E8AB35;
  font-family:"AvertaStd-Bold";
font-size: 44px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.subtitle-carrito {
  color: #EEE0B3;
text-align: center;
font-family: "AvertaStd-Light";
font-size: 16px;

font-weight: 300;
line-height: normal;

}

.text-custom{
  color:#EEE0B3;
  font-family: "AvertaStd-Light";
font-size: 16px;
font-style:normal;
font-weight: 500;
line-height: normal;
}


.tab-button::before, .tab-button::after {
  content: '';
  width: 50%; 
  height: 2px;
  position: absolute;
  bottom: -2px;
  transition: width 0.3s;
  background-color: #EEE0B3; }

.tab-button::before {
  left: 0;
  transform: translateX(0%);
}

.tab-button::after {
  right: 0;
  transform: translateX(0%);
}

.tab-button:hover::before {
  left: 50%;
  transform: translateX(-50%);
}

.tab-button:hover::after {
  right: 50%;
  transform: translateX(50%);
}



.text-custom:hover {
  color: #E8AB35;

  font-family: "AvertaStd-Bold";
}


.border-customColor {
  border-color: #EEE0B3; 
}




.tab-principal {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 16px;
  font-weight: bold;
   width: 200px;
   height: 40px;
  border-radius: 2px;

 background-color: #151515; 
  color: #E8AB35; 
  border-bottom-color: #EEE0B3;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.tab-principal:hover, .tab-principal.active {
  color: #020101; background: #EEE0B3; 
}

.tab-principal:not(.active):hover {
  border-color: #EEE0B3;
}

.btn-moreproducts{
background-color: transparent;
color: #EEE0B3;
font-family: "AvertaStd-Light";

}
/* seccion locales */

.locales-section {
 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: flex-start;
  padding: 5% 5%;
  margin-top: 50px;
 }

.locales-title{
  color: #EEE0B3;

  font-family: "AvertaStd-Bold";
  font-size: 35px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;

}
.conoce-title {
  color: #EEE0B3;

  font-family: "AvertaStd-Bold";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.locales-subtitle {
  color: #EEE0B3;

font-family: "AvertaStd-Light";
font-size: 16px;
font-style: normal;
font-weight: lighter;
line-height: normal;
}

.local {
  color: #EEE0B3;
font-family: "AvertaStd-Light";
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 35px;
}

.locale {
position: relative;
color: #EEE0B3;
font-family:"AvertaStd-Light";
font-size: 18px;
font-style: normal;
font-weight: lighter;
line-height: normal;
display: flex;
align-items: center;
gap: 10px; 
cursor: pointer;
padding-bottom: 5px;
width: 100%;
}
.locale-wrapper{
  position: relative;
}
.locale::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -25px;
  height: 1px;
  width: 100%; 
  background-color: #EEE0B3;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out; 
}
.locale:hover::after, .locale:focus-within::after {
 
  height: 2px;
}
.locales-info-wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-grow: 1; 
  padding-right: 20px; 
}
.locales-info-wrapper::after {
  content: '';
  display: block;
  position: absolute;
  left: calc(32%);
  top: 52.5%;
  bottom: 0;
  width: 2px;
  height: 42%;
  background-color: #F1E4B2;
  z-index: 1;
  opacity: 0; 
  transition: opacity 0.3s ease; 
}

.locale-wrapper:hover ~ .locales-info-wrapper::after {
  opacity: 1; 
}



.locales-details-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

.details {
  position: absolute;
  top: -30px; 
  left: 100%; 
  width: 370px; 
  background-color:transparent; 
  z-index: 100;
  padding: 1em; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  display: none;
  color: #EEE0B3;
font-family: "AvertaStd-Light";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 35px;
display: none; 
 padding-left: 30px; 
}
.h-bold {
 color: #EEE0B3;
font-family: "AvertaStd-Bold";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 35px; 
}

.details.active {
  display: block; 
}

.locale:hover .details, .locale.active .details {
  display: block;
}

.locales-image {
  flex: 0 0 auto;
  align-self: center; 
  margin-left: auto;
 padding-top: 10%;
}
.locales-image img {
  max-width: 100%; 
  height: 400px; 
  object-fit: cover;
 

}
.locale-wrapper:hover .details {
  display: block;
}
/* Franquicias */
.gradient-divider {
   margin-top: -100px;
  height: 100px; 
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
}


.franquicias-derecha {
  padding-top: 110px;
  margin-left: 50px;
}


.franquicias-titulo {
  color: #EEE0B3;
font-family: "AvertaStd-Bold";
font-size: 45px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.franquicias-texto {
  color: #EEE0B3;
font-family: 'AvertaStd-Light';
font-size: 16px;
font-style: normal;
font-weight: lighter;
line-height: normal;
}
.btn-franquicias{
  font-family:  'AvertaStd-Light';
  font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
  background-color: transparent;
  
  border: 1px solid #EEE0B3;
  width: 350px;
  height: 46px;
  padding: 5px 5px ;
  color: #EEE0B3;
  border-radius: 3px;
}


.btn-franquicias:hover {
  background: #D1C1A1; 
  color: black; 
  cursor: pointer; 
}
.btn-conoce{
  font-family:  'AvertaStd-Bold';
  font-size: 16px;
font-style: normal;
font-weight: bold;
line-height: normal;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid #EEE0B3; 
  color: #EEE0B3;
}

.btn-conoce:hover{
background: #D1C1A1; 
color: black; 
cursor: pointer; 
}

.franquicias-titulo-inf {
  color: #EEE0B3;
font-family: "AvertaStd-Bold";
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.franquicias-texto-inf {
  color: #EEE0B3;
font-family: 'AvertaStd-Light';
font-size: 16px;
font-style: normal;
font-weight: lighter;
line-height: normal;
}
.titulo-color{
  color: #E8AB35;
}

/* FORM */

.form-input, .form-textarea {
  border: 2px solid #000;
  padding: 8px 16px;
  margin-bottom: 16px;
}

.form-input::placeholder, .form-textarea::placeholder {
  color: #000;
  opacity: 0.6;
}

.trabaja-titulo {
  font-family: "AvertaStd-Bold";
font-size: 45px;
font-weight: bold;
line-height: 50px;
color: #080808;

}
.btn-cv {
font-family: "AvertaStd-Bold";
font-weight: 400;
color: #EEE0B3;
border-radius: 2px;
background: #383838;
height: 40px;
font-size: 16px;
}
.btn-cv:hover{
  background: #D1C1A1; 
color: black; 
cursor: pointer;

}

.btn-enviar {
border-radius: 2px;
background: #080808;
color: #E8AB35;
font-family: "AvertaStd-Bold";
font-style: normal;
font-weight: 400;
line-height: normal;
height: 40px;
font-size: 16px;
}
.btn-enviar:hover {
  background: #D1C1A1; 
  color: black; 
  cursor: pointer;  
}

input, textarea {
  font-family: "AvertaStd-Light"; 
  color: #000008; 
  outline: none; 
  font-style: normal;
font-weight: 600;
}


::placeholder {
  color: #000000; 
  opacity: 1; 
}


input:focus, textarea:focus {
  border-color: #E8AB35; 
  outline: none;
}


.btn-cv {
  position: relative; 
  overflow: hidden; 
}

.btn-cv input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; 
  cursor: pointer; 
}

.p-footer{
 color: #FFF;
font-family: "AvertaStd-Light";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.icons-footer{
  margin-right: 85px;
}

/* INTERNA PRODUCTOS */

.titulo-interna{
color: #EEE0B3;
font-family: "AvertaStd-Bold";
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal; 

}
.descripcion-interna {
  color: #EEE0B3;
font-family: "AvertaStd-Light";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal; 
}

.selecciona {
  color: #EEE0B3;
font-style: italic;
font-family:"AvertaStd-Light";
font-size: 20px;
font-weight: 300;
line-height: normal;
}
.suma-subtitulo {
  color: #EEE0B3;
  font-style: normal;
  font-family:"AvertaStd-Light";
  font-size: 18px;
  
  font-weight: 300;
  line-height: normal;
}

.items {
  color: #EEE0B3;
  font-style: italic;
  font-family:"AvertaStd-Light";
  font-size: 18px;
  
  font-weight: 300;
  line-height: normal;
}

/* Estilo base para el checkbox */
.custom-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px; 
  height: 25px; 
  border: 2px solid #F1E4B2; 
  border-radius: 4px; 
  outline: none; 
  cursor: pointer; 
  position: relative;
  background-color: transparent; 
}

/* Estilo cuando el checkbox está chequeado */
.custom-checkbox:checked {
  background-color: transparent; 
}


.custom-checkbox:checked::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px; 
  height: 10px;
  background-color: #EEE0B3; 
  border-radius: 50%; 
}

.fondo-acord{
  background-color: #161616;
}
.rotate-180 {
  transform: rotate(90deg);
}
.suma-titulo{
  color: #EEE0B3;
font-family: "AvertaStd-Bold";
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.desktop-banner {
  
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  text-align: center;
  padding: 100px 0;
  
}


.banner-title {
  color: #EEE0B3;

font-family: 'AvertaStd-Bold';
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal
}

.banner-titletwo{
  color:#E8AB35;
  font-family: 'AvertaStd-Bold';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal 
}
.banner-subtitle {
  color: #EEE0B3;
text-align: center;
font-family: "AvertaStd-Light";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.banner-button {
  margin-top: 20px;
  display: inline-block;
  text-decoration: none;
  font-family: "AvertaStd-Light" ;
  background-color: transparent; 
  color: #EEE0B3; 
  padding: 8px 25px;
  border-radius: 5px;
  border-color: #EEE0B3;
 border: solid;
}
.banner-button:hover{
  background: #D1C1A1; 
  color: black; 
  cursor: pointer;  
}



@media screen and (min-width: 1024px) { /* For desktop */
  .locales-container {
    flex-direction: row;
  }
  .locale-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
 
  .locales-image {
    display: block;
    margin-left: auto; 
  }
  .f-menu{
    display: none;
  }
}
@media screen and (max-width: 1023px) { /* For mobile */
  .locales-section {
    flex-direction: column;
  }
  
  .locales-info-wrapper {
    flex-direction: column;
  }
  
  .locales-image {
    display: none;
  }
  
  .details.active {
    display: block; 
  }
  
  .locale + .details {
    padding-left: 0; 
  }
  .details {
    position: static; 
    width: auto; 
    display: none;
    margin-top: 40px;
  }
 
  .locale-wrapper {
    display: block; 
    width: 100%;
  }
}


  @media (min-width: 768px) {
    .social-icons {
      margin-left: 2.5rem;
      gap: 0.5rem; 
    }
    .nav-link {
        margin: 4rem;
      }
    .logo-center {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
    }
 

  
    .locales-image {
      display: block;
    }
  
    .locales-details .details {
     
    }
  }

  @media (max-width: 768px){

    .swiper-pagination {
      bottom: 0;
      display: none;
    
    }
   
    .product-n{
     margin-left: 50px;
     margin-right: 50px;
    }
  .product-description{
    margin-left: 50px;
    margin-right: 50px;
  }
  .product-price{
    margin-left: 50px;
    margin-right: 50px;
  }
  .title-ofertas{
    font-size: 26px;
    margin-top: 20px;
  }

  .product-previous-price{
    margin-left: -20px;
  }
  .agregar-btn{
    margin-left: 70px;
    margin-right: 50px;
  }
  .agregar-boton{
   
    margin-right: 25px;
  }

  .locales-info{
    margin-left: 0;
    margin-top: 10px;
  }
  .locales-info-wrapper::after 
 {
  display: none;
 }

.franquicias-derecha {
  padding-top: 10px;
  margin-left: 0px;
}
.franquicias-titulo{
 text-align: center;
}
.franquicias-texto{
  text-align: center;
}
.btn-franquicias{
  
  margin-top: 20px;
}
.franquicias-titulo-inf{
  font-size: 26px;
}
.franquicias-titulo-inf{
  padding-left: 10px;
  padding-right: 10px;
}
.botones {
  gap: 5px;
  padding-left: 70px;
  padding-right: 70px;
}
.additional{
  gap: o;

}
.icons-footer{
  margin-right: 0;
}
.desktop-banner {
  display: none;
}

  }

  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { 
  .swiper-pagination {
    display: none;
  }
  .nav-link{
    font-size: 12px;
    margin-right: 0;
    margin-left: 20px;
  }
  .logo-nav{
   margin-right: 0;
  }
  .container-postbanner{
    gap: 0;

  }
  .custom-phrase-class{
    margin-left: 0;
  }
  .lomo-class{
    display: none;
  }
  .product-description1 {
    margin-left: 0;
  }
 
  .product-n1{
    margin-left: 0;
  }

  .product-price1 {
    margin-left: 0;
  }
  .agregar-boton{

    width: 160px;
    font-size: 14px;
  }

  .locales-info-wrapper::after{
    left: 40%;
  
  }
    .details {
      position: static; 
      width: auto; 
      display: none;
      margin-top: 40px;
    }
   
    .locale-wrapper {
      display: block; 
      width: 100%;
    }
  }

  @media (max-width: 900px)
  {
    .locales-image{
      display: none;
    }
  }


  /* MODAL */

#cart-modal {
  display: none; 
  top: 0;
  right: 0;
  width: 100%; 
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 100; 
}


#cart-modal.active {
  display: block;
}


.contenido-del-modal {
  display: flex;
  flex-direction: column;
  background: #EEE0B3;
  width: 451px;
  height: auto; 
  max-height: 90vh; 
  overflow-y: auto;
  position: absolute;
  top: 5rem; 
  right: 1rem; 
  padding: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  border-top: none;
  z-index: 101;
}

/* Botón para limpiar el carrito */
#clear-cart {
  margin-top: 1rem; 
}

#modal-title {
  background-color: #E2C773; 
  color: #020101; 
  padding: 1rem; 
  margin-top: 0; 
  margin-bottom: 0; 
  text-align: left;
  font-family: 'AvertaStd-Bold';
  font-style: normal;
  font-weight: bold;
 
}
#continue-button, #clear-cart {
  padding: 0.5rem; 
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: bold; 
  
}

#continue-button {
 background-color:  #E8AB35;
 color: #020101;
}


#cart-modal .cart-item {
  display: flex;
  align-items: start;
  justify-content: space-between;
  border-bottom: 1px solid #ccc; /* Línea divisoria entre ítems */
  padding-bottom: 0.5rem; /* Espacio al final de cada ítem */
  margin-bottom: 0.5rem; /* Espacio entre ítems */
}

#cart-modal .cart-item img {
  width: 200px; 
  height: auto;
  margin-top: 5px;
  margin-right: 1rem; /* Espacio a la derecha de la imagen */
}

#cart-modal .cart-item-info {
  flex-grow: 1; 
}

#cart-modal .cart-item-title {
  font-size: 1rem; 
  font-weight: bold;
  margin-bottom: 0.25rem; 
  color: #020101;
  text-align: left;
  font-family: 'AvertaStd-Bold';
}

#cart-modal .cart-item-price {
  font-size: 1rem;
  color: #020101; 
  margin-bottom: 0.25rem; 
  text-align: left;
  font-weight: bold;
  font-family: 'AvertaStd-Bold';

}

#cart-modal .cart-item-description {
  font-size: 0.9rem; 
  margin-bottom: 0.25rem; 
 color: #020101;
 text-align: left;
 font-family: 'AvertaStd-Light';


}

#cart-modal .cart-item-quantity {
  display: flex;
  align-items: center;
}



#cart-modal .quantity-label {
  font-size: 1rem; 
  margin-right: 4rem;
  color: #020101;
font-family: 'AvertaStd-Bold';
font-style: normal;
font-weight: 400;
line-height: normal
 
}

#cart-modal .quantity-input {
  width: 44px;
  height: auto;
  border-radius: 2px;
  margin-right: 10px;
  background-color: #E2C773;
  text-align: center;
  font-family: 'AvertaStd-Bold';
}

#cart-modal .cart-item-remove {
  background: none;
  border: none;
  cursor: pointer;
 text-align: end;
  padding: 0.5rem; }

/* Botones al final del modal */
#cart-modal .modal-buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 1rem; 
  left: 1rem;
  right: 1rem;
}


#cart-modal .modal-button {
  flex-basis: 48%; 
}

#cart-modal .cart-item-remove {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.1rem;
}

#cart-modal .remove-icon {
  width: 20px !important;
  height: 20px !important;
}

@media (max-width: 768px) {
  #cart-modal .contenido-del-modal {
    width: 100%; 
    top: 0;
    right: 0;
    left: 0;
    margin-top: 0; /* Remueve cualquier margen superior */
    border-radius: 0; /* Opcional: quita los bordes redondeados si lo deseas */
  }
  #cart-modal .cart-item img {
    width: 150px; 
    height: auto;
    margin-top: 5px;
    margin-right: 1rem; /* Espacio a la derecha de la imagen */
  }


}

@media (max-width: 400px) {
  #cart-modal .contenido-del-modal {
    width: 100%; 
    top: 0;
    right: 0;
    left: 0;
    margin-top: 0; 
    border-radius: 0; 
  }
  #cart-modal .cart-item img {
    width: 150px; 
    height: auto;
    margin-top: 5px;
    margin-right: 1rem; /* Espacio a la derecha de la imagen */
  }

}


/* FINALIZAR COMPRA */


.checkout-section {
  max-width: 100%;
  padding: 30px;
  
  background: transparent; 
 
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px; 
}
.checkout-form,
.details-section{
  flex: 1;
  min-width: 300px; 
}

.checkout-form h2 {

  margin-bottom: 10px;
  color: #EEE0B3;
font-family: 'AvertaStd-Bold';
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.checkout-form p { 
margin-bottom: 40px;
color: #EEE0B3;
font-family: 'AvertaStd-Bold';
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}



.form-group label {
  display: block;
  margin-bottom: 5px;
 color: #EEE0B3;
  font-weight: 700;
  font-size: 20px;
  font-family: 'AvertaStd-Bold';

  
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 0px;
  background-color: transparent; 
  border: none; 
  border-bottom: 0.5px solid #FFFFFF; 
  color: #E2C773; 
  outline: none; 
  font-size: 20px;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus {
  border-bottom: 2px solid #d4b43f; 
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #EEE0B3; 
  opacity: 1;
}
/* Para asegurar compatibilidad con la mayoría de navegadores: */
.form-group input:-ms-input-placeholder,
.form-group textarea:-ms-input-placeholder {
  color: #EEE0B3;
}

.form-group input::-ms-input-placeholder,
.form-group textarea::-ms-input-placeholder {
  color: #EEE0B3;
}

.form-group input::-moz-placeholder,
.form-group textarea::-moz-placeholder {
  color: #EEE0B3;
  opacity: 1;
}

.form-group input:-moz-placeholder,
.form-group textarea:-moz-placeholder {
  color: #EEE0B3;
  opacity: 1;
}


.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.custom-checkbox-b {
  
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 35px; 
  height: 35px; 
  border: 1px solid #EEE0B3; 
  border-radius: 3px; 
  outline: none; 
  cursor: pointer; 
  position: relative;
  background-color: transparent;
  margin-right: 10px; 
  flex-shrink: 0; 
  flex-grow: 0;
  margin-top: 10px;

}

.custom-checkbox-b:checked {
  background-color: transparent; 
}

.custom-checkbox-b:checked::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px; 
  height: 10px;
  background-color: #EEE0B3; 
  border-radius: 50%; 
}

.checkbox-label {
  margin-left: 20px;
  color: #EEE0B3;
  font-size: 20px;
  font-family: 'AvertaStd-Light';
  margin-top: 10px;
  flex-grow: 0;

}

.address-input {
  margin-left: 20px; 
}
.form-group .select-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
 
 
}

.form-group .payment-icon {
  position: absolute;
  left: 0px; 
  width: 40px;
  height: 40px;
}

.form-group .arrow-icon {
 position: absolute;
  right: 10px; 
  height: 10px;
  pointer-events: none; 
}

.form-group .payment-select {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  color: #EEE0B3;
  padding: 8px;
  margin-left: 60px;
  width:100%;
  font-size: 20px;
  cursor: pointer;
  font-style: italic;
  font-family: 'AvertaStd-Light';
  font-weight: 300;
  border: 0.5px solid #EEE0B3;

}


.form-group .payment-select::-ms-expand {
  display: none;
}


.form-group .payment-select::-ms-expand {
  display: none;
}
.form-group .input-coments {
  width: 100%;

}
/* SECCION DERECHA CARRITO FINAL */

.details-section {
  background-color: #EEE0B3; 
  padding-top: 0% 0px; 
  border-radius: 5px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
 
  width: 100%; 
}

.details-section h2 {
  color: #020101; 
  font-family:'AvertaStd-Bold';
  font-weight: 700;
  margin-bottom: 22px; 
  background-color: #E2C773;
  padding: 15px;
}

.details-section #order-items-list {
  margin-bottom: 20px; 
  margin-left: 30px;
  margin-right: 10px;
}

.details-section .order-summary p,
.details-section .order-summary h3 {
  color: #020101; 
  margin-bottom: 10px; 
  margin-left: 30px;
}
.details-mobile{
  display: none;
}
.details-section .order-summary h3 {
  font-weight: bold; 
}

.details-section .order-summary span {
  font-weight: bold; 
}

.details-section  .total-pago {
  color: #020101;
  font-family: 'AvertaStd-Bold';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal; 
  margin-top: 0px;
  text-align: end;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 40px;

}
.order-summary {
  position: relative; 
  padding: 20px 0; 

}
.order-summary::before,
.order-summary::after {
  content: "";
  position: absolute;
  left: 4%;
  right: 4%;
  height: 1px; 

  background: linear-gradient(to right, #000 0%, #ffda5f 50%, #404040 100%); 
}

.order-summary::before {
  top: 0;
}

.order-summary::after {
  bottom: 0; 
}

/* ITEMS QUE LUEGO VAN A ASER DINAMICOS */
.item-container {
  display: flex;
  align-items: center;
  background-color: transparent; 
  margin-top: -30px; 
 
}

.item-image img {
  width: 100%; 
  height: auto;
  min-width: 250px;
  margin: auto;
  display: block; 

}

.item-details {
padding-left: 30px;
margin-top: 30px;
margin-bottom: 20px;
margin-right: 10px;
}

.item-details h3 {
  color: #020101; 
  margin-bottom: 5px;
  font-family: 'AvertaStd-Bold';
  font-weight: 500;
}

.item-details .price {
  color: #020101;
  font-family: 'AvertaStd-Bold';
  font-weight: 500;
  margin-bottom: 5px;
}

.item-details .description {
  color: #020101; 
  font-weight: 400;
  margin-bottom: 10px;
  font-family: 'AvertaStd-Light';
}

.item-details .item-extras p {
  color: #020101; 
  margin-bottom: 5px;
  font-family: 'AvertaStd-Light';
  font-weight: 600;
 
}

.item-details .item-extras p span {
  font-weight: bold; 
  margin-left: 10px;
  font-family: 'AvertaStd-Bold';
}

.item-details .quantity {
  color: #020101; 
  font-weight:400; 
  font-family: 'AvertaStd-Light';
}

/* BOTON ENVIAR WHATS */


.button-container {
  display: flex;
  justify-content: flex-end; 
  margin-top: 10px; 
  margin-right: 35px;
}

.whatsapp-button {
  background-color: #E8AB35; 
  color: #020101;
  border: none;
  padding: 6px 20px; 
  border-radius: 2px; 
  font-size: 15px; 
  font-family: 'AvertaStd-Bold';
  font-weight: bold;
  cursor: pointer; 
 
  transition: background-color 0.3s ease; 
}

.whatsapp-button:hover {
  background: #D1C1A1; 
  color: black; 
  cursor: pointer; }

  .title-mobile {
    display: none;
  }

@media (max-width: 768px) {
  .title-desktop {
    display: none;
  }
  .title-mobile {
    display: block;
  text-align:  center;
  }

  .details-section {
    width: 100%; 
    min-width: none;
  }

  .checkout-form,
  .details-section {
    flex-basis: 100%;
  }
  .details-mobile{
    
    color: #020101; 
    font-family:'AvertaStd-Bold';
    font-weight: 700;
    margin-bottom: 22px; 
    background-color: #E2C773;
    padding: 15px;
  }

  .checkout-form {
    order: 2; /* Ordena segundo el formulario */
}

.details-section {
    order: 1; /* Ordena primero la sección de detalles */
}


  .checkout-section {
    width: 100%;
    padding: 10px;
  
    margin-left: 0px;
    flex-direction: column;
    
  } 
  .checkout-form h2 {
    font-size: 34px;
    text-align: center;
  }
  .checkout-form p {
    text-align: center;
  }
  .form-group .select-wrapper {
    margin-bottom: 5px;
  }
  .form-group{
    margin-bottom: 10px;
  }

  .form-group .payment-select {
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    color: #EEE0B3;
    padding: 8px;
    margin-left: 50px;
    width:100%;
    font-size: 18px;
    cursor: pointer;
    font-style: italic;
    font-family: 'AvertaStd-Light';
    font-weight: 300;
    border: 0.5px solid #EEE0B3;
  
  }  
  .checkbox-label {
    margin-left: 10px;
    color: #EEE0B3;
    font-size: 18px;
    font-family: 'AvertaStd-Light';
    margin-bottom: 0px;
    flex-grow: 0;
  
  }
  
  .address-input {
    margin-left: 10px; 
    font-size: 18px;
  }
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="text"]:focus,
  .form-group input[type="email"]:focus,
  .form-group textarea,
  .form-group select {
    width: 100%;
    padding: 0px;
    background-color: transparent; 
    border: none; 
    border-bottom: 0.5px solid #FFFFFF; 
    color: #E2C773; 
    outline: none; 
    font-size: 18px;
  }
  .form-group .input-coments{
    margin-top: 20px;
   font-size: 16px !important;
    }
  .button-container {
    justify-content: center; 
    margin-right: 0;
  }

.item-container{
flex-direction: column ;
margin-top: 0;
align-items: start;
}



.item-image img {
  width: 100%; 
  height: auto;
  max-width: 350px;
  margin: auto;
  display: block;

}

.item-details {
  margin-bottom: 30px;
  width: 100%;
  padding-left: 0;
}
.details-section .total-pago{
text-align: center;
margin-right: 0;
}

}


@media screen and (max-height: 600px) {
  .swiper-pagination  {
    display: none; 
  }
}